<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelli Cam</title>
    <script src="{{url_for('static',filename = 'script.js')}}"></script>
    <link rel="shortcut icon" href="{{url_for('static',filename = 'logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}"">
</head>

<body>
    <!-- Top navigation bar -->
    <nav>
       <img src = "{{url_for('static',filename = 'logo.png')}}">
       <img src = "{{url_for('static',filename = 'Intelli cam.png')}}">
    </nav>

    <!-- Sidebar -->
    <div class=" sidebar">
    <button onclick="startStream()">Start Video</button>
    <button onclick="stopStream()">Stop Video</button>
    <button onclick="verifyFace()">Start Detection</button>
    <button onclick="detectFace()">Save Face</button>
    </div>

    <!-- Main content area -->
    <div class="content">
        <img id="video" alt="Video Stream">
    </div>
    </body>

</html>